/* @import '~tsiclient/tsiclient.css'; */

.chart-rendering-content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 500px;
  width: 400px;
  padding: 5px;
  display: flex;
}
