.header {
  font-size: 22px;
  font-family: "Poppins";
  font-weight: 200;
  text-decoration: none;
  margin-left: 44px;
  margin-top: 14px;
  color: #9e9e9e;
}

.header-link {
  color: #00b0f0;
}

.header-link-active {
  color: #9e9e9e;
}

.header-spacer {
  margin-left: 10px;
  margin-right: 10px;
}

.header-link-active:hover {
  cursor: pointer;
  color: #9e9e9e;
  text-decoration: underline;
}


