.floorplan-root {
  width: 100%;
  position: relative;
}

.legend-panel-container {
  float: right;
  position: relative;
}

.legend-panel {
  position: absolute;
  top: 0;
  right: 80px;
  font-family: Poppins;
  font-size: 22px;
  color: #9e9e9e;
}

.legend-entry-container {
  display: flex;
}

.legend-entry-container.bottom {
  margin-top: 44px;
}

.legend-entry-container .legend-icon {
  width: 36px;
  height: 36px;
  margin-right: 18px;
}

.legend-entry-container .occupied {
  background: #64deff;
}

.legend-entry-container .vacant {
  background: #8e8e8e;
}

.room-info-panel {
  position: absolute;
  left: 26px;
  bottom: 26px;
  width: 700px;
  height: 260px;
  background: #efefef;
}

.motion-status-panel {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 300px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-family: Poppins-ExtraLight;
  font-size: 28px;
  color: white;
}

.motion-status-panel .occupied {
  width: 100%;
  height: 100%;
  background: #64deff;
}

.motion-status-panel .vacant {
  width: 100%;
  height: 100%;
  background: #8e8e8e;
}

.room-info-panel .grid {
  display: grid;
  grid-template-columns: 125px 125px 282px 125px;
}

.room-info-panel .room-type-grid {
  position: absolute;
  left: 22px;
  top: 12px;
}

.room-type-grid .room-type {
  grid-column: 1;
}

.room-info-panel .room-temp-grid {
  position: absolute;
  left: 22px;
  right: 22px;
  top: 100px;
}

.room-temp-grid .room-temp {
  grid-column: 1;
}

.room-info-panel .desired {
  grid-column: 2;
  text-align: center;
}

.room-info-panel .slider {
  grid-column: 3;
}

.room-info-panel .actual {
  grid-column: 4;
  text-align: center;
}

.room-info-panel .room-lights-grid {
  position: absolute;
  left: 22px;
  top: 158px;
}

.room-lights-grid .room-lights {
  grid-column: 1;
}

.room-info-panel .light-label {
  font-family: Poppins-ExtraLight;
  font-size: 28px;
  color: #00b0f0;
}

.room-info-panel .grid-labels {
  position: absolute;
  left: 22px;
  top: 76px;
  font-size: 20px;
}

.room-info-panel .alert-message {
  position: absolute;
  left: 22px;
  bottom: 12px;
  font-family: Poppins;
  font-size: 18px;
  color: #9e9e9e;
}
