<app-breadcrumb #breadcumbs [tenantId]="tenantId" [hotelBrandId]="hotelBrandId" [hotelBrandName]="hotelBrandName"
  [hotelId]="hotelId" [hotelIndex]="hotelIndex" [hotelName]="hotelName" [floorName]="floorName"></app-breadcrumb>

<div class="floorplan-root">
  <div class="legend-panel-container">
    <div class="legend-panel">
      <div class="legend-entry-container">
        <div class="legend-icon occupied"></div>
        occupied
      </div>
      <div class="legend-entry-container bottom">
        <div class="legend-icon vacant"></div>
        vacant
      </div>
    </div>
  </div>
  <div #floorplanContainer id="floorplanContainer"></div>
  <div *ngIf="selectedRoom" class="room-info-panel">
    <div class="motion-status-panel">
      <div *ngIf="selectedRoom && selectedRoom.motion.isMotion" class="occupied">
        occupied
      </div>
      <div *ngIf="selectedRoom && !selectedRoom.motion.isMotion" class="vacant">
        vacant
      </div>
    </div>
    <div class="room-type-grid light-label">
      <div class="room-type">{{getFriendlyRoomType(selectedRoom)}}</div>
    </div>
    <div class="grid-labels light-label grid">
      <div class="desired">desired</div>
      <div class="actual">actual</div>
    </div>
    <div class="room-temp-grid light-label grid">
      <div class="room-temp">Temp (F)</div>
      <div *ngIf="selectedRoom && selectedRoom.thermostat" class="desired">{{selectedRoom.thermostat.desired}}</div>
      <div *ngIf="selectedRoom && selectedRoom.thermostat && !useBasicAuth" class="slider custom-slider">
        <ng5-slider [(value)]="selectedRoom.thermostat.desired" [options]="thermostatSliderOptions" (userChangeStart)="sliderChangeBegin()"
          (userChangeEnd)="sliderChangeEnd()" (userChange)="thermostatSliderValueChange(selectedRoom, $event)"></ng5-slider>
      </div>
      <div *ngIf="selectedRoom && selectedRoom.thermostat" class="actual">{{selectedRoom.thermostat.actual}}</div>
    </div>
    <div class="room-lights-grid light-label grid">
      <div class="room-lights">Lights</div>
      <div *ngIf="selectedRoom && selectedRoom.light" class="desired">{{selectedRoom.light.desired}}%</div>
      <div *ngIf="selectedRoom && selectedRoom.light && !useBasicAuth" class="slider custom-slider">
        <ng5-slider [(value)]="selectedRoom.light.desired" [options]="lightSliderOptions" (userChangeStart)="sliderChangeBegin()"
          (userChangeEnd)="sliderChangeEnd()" (userChange)="lightSliderValueChange(selectedRoom, $event)"></ng5-slider>
      </div>
      <div *ngIf="selectedRoom && selectedRoom.light" class="actual">{{selectedRoom.light.actual}}%</div>
    </div>
    <div *ngIf="selectedRoom" class="alert-message">{{selectedRoom.alertMessage}}</div>
  </div>
</div>
