<div class='main-nav'>

  <div class='flex-container'>
    <a href="/">
      <img class='logo-image' src='/assets/images/logo.png' />
    </a>
    <a href="/">
      <div class='flex-container'>
        <div class='logo-text'>
          -
        </div>

        <div class='logo-text'>
          Facility Management
        </div>
      </div>
    </a>

    <div class='logout-container'>
      <div class='logout-user-description'>
        <div class=''>
          {{userName}}
        </div>

        <div *ngIf="authenticated" (click)='logout()' class='logout-text-div'>
          <div class='logout-text'>Logout</div>
        </div>

        <div *ngIf="!authenticated && !useBasicAuth" (click)='login()' class='logout-text-div'>
            <div class='login-text'>Login</div>
          </div>
      </div>
    </div>


  </div>

  <hr width='100%' class='horizonal-line'>


  <!-- <div *ngIf="!authenticated && !useBasicAuth" class="nav-login">
    <span (click)="login()">Login</span>
  </div>

  <div *ngIf="authenticated" class="nav-display">
    <div class="displayName">
      Head of Operations SmartHotel
    </div>
    <span (click)="logout()" style='color: red;'>Logout</span>
  </div> -->

</div>