<div class='main-nav'>

  <div class='flex-container'>
    <a href="/">
      <img class='logo-image' src='/assets/images/logo.png' />
    </a>
    <a href="/">
      <div class='flex-container'>
        <div class='logo-text'>
          -
        </div>

        <div class='logo-text'>
          Facility Management
        </div>
      </div>
    </a>

    <div style='display: flex; flex-direction: column; margin-left: auto'>
      <div class='logout-user-description'>
        <div class=''>
          <!-- {{userName}} -->
          Head of Operations SmartHotel
        </div>

        <div *ngIf="authenticated" (click)='logout()' class='' style='width: 100%; margin: 0 auto; text-align: right;'>
          <div style='margin-top: 5px'>Logout</div>
        </div>

        <div *ngIf="!authenticated && !useBasicAuth" (click)='login()' class=''>
            Login
          </div>
      </div>
    </div>


  </div>

  <hr width='100%' class='horizonal-line'>


  <!-- <div *ngIf="!authenticated && !useBasicAuth" class="nav-login">
    <span (click)="login()">Login</span>
  </div>

  <div *ngIf="authenticated" class="nav-display">
    <div class="displayName">
      Head of Operations SmartHotel
    </div>
    <span (click)="logout()" style='color: red;'>Logout</span>
  </div> -->

</div>