
.main-nav {
  width: 100%;
  height: 67px;
  background-color: #EFEFEF;
}

.logo-image {
  height: 35px;
  width: 176px;
  margin-left: 43px;
  margin-top: 19px;
}

.logo-text {
  font-family: "Poppins";
  font-weight: 200;
  text-decoration: none;
  font-size: 18px;
  color: #9e9e9e;
  margin-top: 26px;
  margin-left: 15px;
}

.logout-container {
  display: flex; 
  flex-direction: column; 
  margin-left: auto;
}

.logout-text-div {
  width: 100%; 
  margin: 0 auto; 
  text-align: right;
}

.logout-text {
  margin-top: 5px;
  color: #00b0f0;
}

.logout-text span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.login-text {
  margin-top: 10px;
  color: #00b0f0;
  cursor: pointer;
}

.login-text span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.logout-user-description {
  margin-right: 23px; 
  margin-top: 13px;
  color: #9e9e9e;
  font-size: 14px;
}


.flex-container {
  display: flex;
  
}

.horizonal-line {
  display: block;
    height: 1px;
    border-top: 1px solid #9e9e9e;
    padding: 0; 
    margin-top: 11px;
    margin-left: 24px;
    margin-right: 24px;
}

.main-nav a:link, a:visited, a:hover, a:active {
  font-family: "Poppins";
  font-weight: 200;
  text-decoration: none;
}

.nav-login {
  margin-top: 12px;
  margin-right: 16px;
}

.nav-login span {
  font-size: 12px;
  color: white;
  font-family: "Poppins";
}

.nav-login span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-display {
  color: white;
  font-family: "Poppins";
  margin-top: 7px;
  margin-right: 16px;
  text-align: right;
  font-size: 12px;
}

  .nav-display span {
    color: #bc4c1b;
    font-size: 10px !important;
  }

.nav-display span:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}
