<app-breadcrumb #breadcumbs [tenantId]="tenantId" [hotelBrandId]="hotelBrandId" [hotelBrandName]="hotelBrandName"></app-breadcrumb>

<div class="hotels-top-row">
  <div class="hotels">
    <div *ngFor="let hotel of hotels" class="hotel" (click)="chooseHotel(hotel)">
      <img class="hotel-image" [src]="getHotelImage(hotel) | secure | async" />
      <div class="hotel-button">
        {{hotel.friendlyName}}
      </div>
      <img src="/assets/images/alert.png" class="alert-image" *ngIf="hotel.hasAlert" />
    </div>
  </div>
</div>

<div class="hotels-dashboard" *ngIf="hotels !== null">
  <div class="hotels-dash-1"><img src="/assets/images/hotel-dash-1.jpg" /></div>
  <div class="hotels-dash-2"><img src="/assets/images/hotel-dash-2.jpg" /></div>
  <div class="hotels-dash-2"><img src="/assets/images/hotel-dash-3.jpg" /></div>
  <div class="hotels-dash-1"><img src="/assets/images/hotel-dash-4.jpg" /></div>
</div>
