<section>
  <div class="header">
    <span *ngIf="tenantId">
      <span class="header-link header-link-active" (click)="returnToHome()">brands</span>
      <span class="header-spacer">|</span>
    </span>
    <span *ngIf="hotelBrandId; else backNotSupported">
      <span class="header-link header-link-active" (click)="returnToHotelBrand()">{{hotelBrandName}}</span>
      <span class="header-spacer">|</span>
      <span class="header-link">{{hotelName}}</span>
    </span>
    <ng-template #backNotSupported>
      <span class="header-link">floors</span>
    </ng-template>
  </div>
</section>
<div class="floors-top-row">
  <div class="floors">
    <div *ngFor="let floor of floors; let i = index" class="floor" (click)="chooseFloor(floor)">
      <div class="floor-image" [style.background-image]="getFloorImage(i)"></div>
      <div class="floor-button">
        {{floor.name}}
      </div>
    </div>
  </div>
</div>
<div class="floors-dashboard" *ngIf="floors !== null">
  <div class="floors-dash-1"><img src="/assets/images/floor-dash-1.jpg" /></div>
  <div class="floors-dash-1"><img src="/assets/images/floor-dash-2.jpg" /></div>
  <div class="floors-dash-2"><img src="/assets/images/floor-dash-3.jpg" /></div>
</div>
