<app-breadcrumb #breadcumbs [tenantId]="tenantId" [hotelBrandId]="hotelBrandId" [hotelBrandName]="hotelBrandName"
  [hotelId]="hotelId" [hotelIndex]="hotelIndex" [hotelName]="hotelName"></app-breadcrumb>

<div class="floors-top-row">
  <div class="floors">
    <div *ngFor="let floor of floors" class="floor" (click)="chooseFloor(floor)">
      <img class="floor-image" [src]="getFloorImage(floor) | secure | async" />
      <div class="floor-button">
        {{floor.friendlyName}}
      </div>
    </div>
  </div>
</div>
<div class="floors-dashboard" *ngIf="floors !== null">
  <div class="floors-dash-1"><img src="/assets/images/floor-dash-1.jpg" /></div>
  <div class="floors-dash-1"><img src="/assets/images/floor-dash-2.jpg" /></div>
  <div class="floors-dash-2"><img src="/assets/images/floor-dash-3.jpg" /></div>
</div>
