<!--The content below is only a placeholder and can be replaced.-->
<div class='container-fluid'>

  <div class='row content'>
    <router-outlet></router-outlet>
  </div>
  <div class='row fixed-header'>
    <app-nav-menu></app-nav-menu>
  </div>
  <app-slide-panel class="alert-panel" [class.hittest-hidden]="!isOpen" [isOpen]="isOpen">
    <div class="alert-panel-content">
      <span class="alert-panel-content-header">Temperature Alerts</span>
      <ul class="alert-panel-alerts">
        <li *ngFor="let tempAlert of temperatureAlerts" class="temp-alert">
          <span class="bold">{{tempAlert.spaceFriendlyId}}: </span>
          <span>{{tempAlert.alertMessage}}</span>
        </li>
      </ul>
    </div>
  </app-slide-panel>
  <!--https://github.com/Napster2210/ngx-spinner#ngxspinner-component-->
  <ngx-spinner size="large" type="square-jelly-box"></ngx-spinner>
</div>
