/* On small screens, the nav menu spans the full width of the screen. Leave a space for it.*/
app-nav-menu {
  position: fixed;
  left: 0;
  width: 100%;
}

.content {
  margin-top: 48px;
}

.fixed-header {
  position: absolute;
  top: 0;
  height: 48px;
  z-index: 1000;
}

.alert-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 25%;
  margin-top: 48px;
}

.alert-panel-content {
  margin: 15px;
  padding: 0 0 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.alert-panel-content-header {
  color: #bc4c1b;
  font-size: 18px;
  font-weight: 300;
}

.alert-panel-alerts {
  overflow-y: auto;
}
