.root-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 22px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.body-content {
  font-size: 16px;
}

.basic-auth-form {
  width: 750px;
  margin-left: -25%;
  text-align: center;
}

.login-button {
  background-color: #64deff;
  text-align: center;
  height: 48px;
  width: 100%;
  color: white;
  font-size: 19px;
  line-height: 48px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
  border: 0;
}

.login-button.adal {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.basic-auth-form .login-button {
  width: 50%;
}

.login-img {
  margin-left: -50%;
  width: 200%;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
}

.form-group {
  margin-bottom: 10px;
}

.form-label {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 12px;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 12px;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 2px;
  font-size: 80%;
  color: #dc3545;
}

.failed-auth {
  display: block;
  width: 100%;
  margin-top: 2px;
  font-size: 80%;
  color: #dc3545;
}
