<app-breadcrumb [tenantId]="tenantId"></app-breadcrumb>

<div class="cards-container">
  <div *ngFor="let hotelBrand of hotelBrands" class="" (click)="chooseHotelBrand(hotelBrand)">
    <!-- <img class="hotelbrand-image" [src]="getHotelBrandImage(hotelBrand) | secure | async" /> -->
    <div class='card'>
      <div class='card-name'>
        {{hotelBrand.friendlyName}}
      </div>
    </div>
    <!-- <img src="/assets/images/alert.png" class="alert-image" *ngIf="hotelBrand.hasAlert" /> -->
  </div>
</div>

<div class="hotelbrands-dashboard" *ngIf="hotelBrands !== null">

  <div class="hotelbrands-dash-1"><app-tsi-chart [tempSensorIds]="tempSensorIds" [lightSensorIds]="lightSensorIds" [motionSensorIds]="motionSensorIds"></app-tsi-chart></div>
  <div class="hotelbrands-dash-2"><img src="/assets/images/brand-dash-2.jpg" /></div>
  <div class="hotelbrands-dash-2">
    <app-map [pushpinLocations]="hotelGeoLocations"></app-map>
  </div>

  <div class="hotelbrands-dash-1"><img src="/assets/images/scheduled maintenance.jpg" /></div>

</div>
