<app-breadcrumb [tenantId]="tenantId"></app-breadcrumb>

<div class="hotelbrands-top-row">
  <div class="hotelbrands">
    <div *ngFor="let hotelBrand of hotelBrands" class="hotelbrand" (click)="chooseHotelBrand(hotelBrand)">
      <img class="hotelbrand-image" [src]="getHotelBrandImage(hotelBrand) | secure | async" />
      <div class="hotelbrand-button">
        {{hotelBrand.friendlyName}}
      </div>
      <img src="/assets/images/alert.png" class="alert-image" *ngIf="hotelBrand.hasAlert" />
    </div>
  </div>
</div>

<div class="hotelbrands-dashboard" *ngIf="hotelBrands !== null">
  <div class="hotelbrands-dash-1">
    <app-tsi-chart></app-tsi-chart>
  </div>

  <div class="hotelbrands-dash-1"><img src="/assets/images/brand-dash-1.jpg" /></div>
  <div class="hotelbrands-dash-2"><img src="/assets/images/brand-dash-2.jpg" /></div>
  <div class="hotelbrands-dash-2">
    <app-map [pushpinLocations]="hotelGeoLocations"></app-map>
  </div>

  <div class="hotelbrands-dash-1"><img src="/assets/images/brand-dash-4.jpg" /></div>

</div>